<div class="card mt-5">
    <div class="card-body">
        <h3>Dimensionamento de Estacas Hélice Contínuas</h3>
        <p>Insira os dados abaixo:</p>
        <form action="/admin/helix-continues" enctype="multipart/form-data" method="post">
            <p>Passo:</p>
            <input type="number" name="radius" id="radius"> 
            <p>Raio:</p>
            <input type="number" name="radius" id="radius"> 
            <p>Comprimento do trecho cônico:</p>
            <input type="number" name="radius" id="radius">
            <input type="checkbox" name="" id=""> 
            <br>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
        <hr>
    </div>
</div>