<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card text-bg-dark mt-3">
            <div class="card-body">
                <h2 class="display-4 my-4">Cadastro de bitolas</h2>
                <p class="lead">Clique para inserir PDF do resumo de bitolas.</p>
                <hr class="my-4">
                <p class="lead">
                    <a href="/admin/register-gauges" class="btn btn-primary btn-lg" role="button">Cadastro de Bitolas</a>
                </p>
            </div>  
        </div>        
    </div>
    <div class="col-sm-6">
        <div class="card text-bg-dark mt-3">
            <div class="card-body">
                <h2 class="display-4 my-4">Estacas Hélice Contínua</h2>
                <p class="lead">Dimensionamento e Cálculo de armações.</p>
                <hr class="my-4">
                <p class="lead">
                    <a href="/admin/helix-continues" class="btn btn-primary btn-lg" role="button">Hélice Contínua</a>
                </p>
            </div>  
        </div>        
    </div>
</div>
<hr>