<div class="card mt-4">
        <div class="card-body">
            <h3>Cadastro de bitolas</h3>
            <p>Insira abaixo o arquivo resumo de aço:</p>
            <form action="/admin/register_gauges" enctype="multipart/form-data" method="post">
                <input type="file" class="form-control-file" name="registerGauges">
                <button type="submit">Enviar</button>
            </form>
            <hr>
        </div>
    </div>