<div class="card text-bg-dark mt-3">
    <div class="card-body">
        <h1 class="display-4 my-4">Bem-vindo ao App da Sala Técnica!</h1>
        <p class="lead">Este é um App simples, desenvolvido com Node.js, Express e MongoDB.</p>
        <hr class="my-4">
        <p>Aqui você terá acesso a ferramentas de uso técnico!</p>
        <p class="lead">
            <a href="/users/register" class="btn btn-primary btn-lg" role="button">Criar uma conta</a>
        </p>
    </div>  
</div>
<hr>